<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Hello World</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    </head>
    <body style="background-color:white">
        <div class="ui centered grid container">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="eight wide centered column">
                    <div class="ui attached blue message">
                        <h1 class="ui header">Quem Sou Eu?</h1>
                        <p><%= playerName %>, bem-vindo à sala <%= gameRoom.roomCode %></p>
                    </div>
                    <div class="ui middle aligned divided list">
                        <% for (var i in gameRoom.players){ %>
                            <div class="item">
                                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
                                <div class="content">
                                    <p class="header">
                                        <%= gameRoom.players[i].name %>
                                    </p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <a href="/play" class="ui blue button">Jogar!</a>
                    <!-- temporary button to start game, should be in /new-game -->
                    <form action="/start" method="post" class="ui inline form">
                        <button class="ui green button" type="submit">Começar!</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>